.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;

  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);


}

.modal-content{
  position: fixed;
  background-color: #fefefe;
  width: 100%;
}

.modal-header{
  background-color: #5c6db8;
  color: white;
  padding: 2px 16px;
}

.close{
  color: #fefefe;
  float: right;
  font-size: 28px;
  font-weight: bold;

}

.close:hover,
.close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close-photo{
  color: black;
  float: left;
  font-size: 28px;
  font-weight: bold;

}

.close-photo:hover,
.close-photo:focus{
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.modal-body{
  padding: 2px 16px;
}

.modal-footer{
  padding: 2px 16px;
  background-color: #5c6db8;
  color: white;
}

.cluj{
  display: none;
}

img{
  width: 95%;
  margin: 60px 30px 30px;
}

.buc{
  display: none;
}

.brasov{
  display: none;
}

button{
  color: #fefefe;
  background-color: #d70000;
  border-radius: 15px 15px 5px 15px;
  margin: 20px 20px 20px 20px;
  height: 40px;
  padding: 0 20;
  font-size: 15px;
  border: 2px solid #d70000;

}

button:hover,
button:focus{
  background: pink;
  color: grey;
  border: pink;
}

h2{
  font-family: fantasy;
  margin-top: 40px;
  color: #d70000;
  font-size: 40px;
  text-align: center;
}
